<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="demo">

        <h1>{{title}}</h1>
        <my-form/>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    let fruit=Vue.createApp({
        data:function(){
            return{
                title:"Welcome to kaohsiung Fruit Stand",
            };
        }
    });

    fruit.component("my-form",{
        template:`
        <form @submit.prevent="handleLogin">
            <h3>{{subtitle}}</h3>
        <!-- <your-form v-model="email" v-bind:label="emailLabel" />
            <your-form v-model="password" v-bind:label="passwordLabel" />-->

            <your-form v-model="email" :label="emailLabel" :modelValue="email"/>
            <your-form v-model="password" :label="passwordLabel" :modelValue="password"/>
            <button>LOGIN</button>
        </form>
        `,
        component:['your-form'],
        data(){
            return {
                subtitle:"會員登入系統",
                email:"",
                password:"",
                emailLabel:"輸入電子郵件",
                passwordLabel:"輸入密碼"
            };
        },
        methods:{
            handleLogin(){
                alert("LOGIN OK!!");
                console.log("email:", this.email);
                console.log("password:", this.password);
            }
        }

    })
    fruit.component("your-form",{
        template:`
        <label>
        {{label}}
        <input type="text"  v-model="inputValue"/>
        </label>
        `,
        props:["label", "modelValue"],

        computed:{
            inputValue:{
                get(){
                    return this.modelValue;
                },
                set(value){
                    console.log(value)
                    this.$emit("update:modelValue", value);
                }
            }
        }    
    
    })


    fruit.mount("#demo")
</script>

    <style>
        input{
            display: block;
        }

        </style>

</body>
</html>